<div class="col-sm-auto">
    <h6>&nbspWhat Went Wrong?&nbsp<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#createwrong">✚</button></h6><br>
     <!-- Form to create whatwentwrong -->
    <div class="modal fade" id="createwrong" tabindex="-1" role="dialog" aria-labelledby="createwrong" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createwrong"> Add What Went Wrong</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= form_with url: "/createWhatWentWrong" do |form| %>
                    <div>
                        <%= form.text_area(:body,{:class => 'form-control',minlength: 5, required: true})%>
                    </div>
                    <br>
                    <div>
                        <%= form.submit({:class=> 'btn btn-primary'})  %>
                    </div>
                    <%= form.hidden_field :sprint_id, value: @sprint.id %>
                    <% end %>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <br>
     <!-- Loop through each whatwent wrong of the sprint -->
    <%@what_went_wrong.each do |went_wrong|%>
    <%went_wrong.what_went_wrongs.each do |wrong| %>
    <div class="card bg-dark mb-3" style="max-width: 12rem;">
        <div class="card-body ">
            <p class="card-text"> <%= wrong.body %><br></p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#WentWrong<%= wrong.id%>">
                <i class="fa fa-edit"> </i>
            </button>
            <div class="modal" id="WentWrong<%= wrong.id%>">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body" class="form-outline">
                            <form method="patch" action="/what_went_wrongs/updateWhatWentWrong/<%=wrong.id%>">
                                <textarea class="form-control" id="body" name="body" ><%= wrong.body %></textarea>
                                <br />
                                <input type="hidden" id="sprint_id" name="sprint_id" value="<%=@sprint.id%>">
                                <input class="btn btn-primary btn-sm" type="submit" value="Update Post" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
             <!-- Form to implement delete button -->
            <form method="post" action="/what_went_wrongs/destroyWhatWentWrong/<%=wrong.id%>" style='display: inline'>
                <input type="hidden" id="sprint_id" name="sprint_id" value="<%=@sprint.id%>">
                <button class="btn btn-danger btn-sm" type="submit" data-confirm="Are you sure you want to delete?"><i class="fa fa-trash"></i></button>
            </form>
             <!-- Form to implement Like Button -->
            <form method="post" action="/what_went_wrongs/likeWhatWentWrong/<%=wrong.id%>" style='display: inline'>
                <button class="btn  btn-grey btn-sm" type="submit"><i class="fa fa-thumbs-up"></i> <%=wrong.likes%></button>
                <input type="hidden" id="sprint_id" name="sprint_id" value="<%=@sprint.id%>">
            </form>
        </div>
    </div>

    <% end %>
    <% end %>
    <br>
    <br>
</div>

