 <div class="col-sm-3">
     <h4><%= t 'What Went Well'%> <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#createwell">✚</button></h4><br>
     <br>
     <div class="modal fade" id="createwell" tabindex="-1" role="dialog" aria-labelledby="createwell" aria-hidden="true">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="createwell">Add What Went Well</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 <div class="modal-body">
                     <!-- Form to create WhatWentWell post -->
                     <%= form_with url: "/createWhatWentWell" do |form| %>
                     <div>
                         <%= form.text_area(:body,{:class => 'form-control',minlength: 5, required: true})%>
                     </div>
                     <br>
                     <div>
                         <%= form.submit({:class=> 'btn btn-primary'}) %>
                     </div>
                     <%= form.hidden_field :sprint_id, value: @sprint.id %>
                     <%= form.hidden_field :locale, value: lang %>
                     <% end %>
                 </div>
             </div>
         </div>
     </div>
     <!-- Loops through each Whatwentwell post of a sprint -->
     <%@what_went_well.each do |went_well|%>
     <%went_well.what_went_wells.each do |well| %>
     <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
         <div class="card-body">
             <p class="card-text"> <%= well.body %><br></p>
         </div>
         <div class="card-footer">
             <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#wentwellmodal<%= well.id%>">
                 <i class="fa fa-edit"> </i>
             </button>
             <div class="modal" id="wentwellmodal<%= well.id%>">
                 <div class="modal-dialog">
                     <div class="modal-content">

                         <!-- Modal Header -->
                         <div class="modal-header text-primary">
                             <button type="button" class="close" data-dismiss="modal">&times;</button>
                         </div>

                         <!-- Modal body -->
                         <div class="modal-body" class="form-outline">
                             <form method="patch" action="/what_went_wells/updateWhatWentWell/<%=well.id%>">
                                 <textarea class="form-control" id="body" name="body"><%= well.body %></textarea>
                                 <br />
                                 <input type="hidden" id="sprint_id" name="sprint_id" value="<%=@sprint.id%>">
                                 <input type="hidden" id="locale" name="locale" value="<%=lang%>">
                                 <input class="btn btn-primary btn-sm" type="submit" value="<%= t 'Update Post'%>" />
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- Form for Delete button -->
             <form method="post" action="/what_went_wells/destroyWhatWentWell/<%=well.id%>" style='display: inline'>
                 <button class="btn btn-danger btn-sm" type="submit" data-confirm="Are you sure you want to delete?"><i class="fa fa-trash"></i></button>
                 <input type="hidden" id="sprint_id" name="sprint_id" value="<%=@sprint.id%>">
                 <input type="hidden" id="locale" name="locale" value="<%=lang%>">
             </form>
             <!-- Form for Like button -->
             <form method="post" action="/what_went_wells/likeWhatWentWell/<%=well.id%>" style='display: inline'>
                 <button class="btn  btn-dark btn-sm" type="submit"><i class="fa fa-thumbs-up"></i> <%=well.likes%></button>
                 <input type="hidden" id="sprint_id" name="sprint_id" value="<%=@sprint.id%>">
                 <input type="hidden" id="locale" name="locale" value="<%=lang%>">
             </form>
         </div>
     </div>
     <%end%>
     <%end%>
     <br>
     <br>
 </div>