<body style="background-color:white;">
    <nav class="navbar navbar-light -lighbgt justify-content-start " style="background-color: #b7d7e8;">
        <span class="navbar-brand mb-0 h1 navbar-brand" style="color:black"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> <a style="color:black" href="<%=root_path%>">Retrospective Dashboard</a></span>
        <div class="dropdown show">
            <a class="btn btn-info dropdown-toggle mr-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=@sprint.name%>
            </a>
            <!-- Dropdwn List For Sprints on the navbar -->
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <% @all_sprints.each do |sprint| %>
                <a class="dropdown-item inline text-center" href="<%=root_path%>/sprints/<%=sprint.id%>"><%=sprint.name%></a>
                <%end%>
            </div>
        </div>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createsprint">Add New Sprint</button>
        <div class="modal fade" id="createsprint" tabindex="-1" role="dialog" aria-labelledby="createsprint" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createsprint">Add New Sprint</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- form to create a sprint -->
                        <%= form_with url: "/createSprint" do |form| %>
                        <div>
                            <%= form.text_area(:name,{:class => 'form-control', required: true,placeholder: "Sprint Name"})%>
                        </div>
                        <br>
                        <%= form.label :From, "Date" %>
                        <div>
                            <%= form.date_field(:date, {:class => 'form-control', required: true,value: DateTime.now})%>
                        </div>
                        <br>
                        <div>
                            <%= form.submit({:class=> 'btn btn-primary'})  %>
                        </div>
                        <% end %>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <form method="post" action="/sprints/destroySprint/<%=@sprint.id%>" style='display: inline'>
                <div class="col text-center">
                    <button class="btn btn-danger" type="submit" data-confirm="Are you sure you want to delete?">Delete Sprint</button>
                </div>
            </form>
        </div>
        <span>
            <a href="<%=root_path%>/sprints/<%=@sprint.id%>.pdf" style="color: white" class="button btn-info ml-auto" download><i class="fa fa-download"></i>Export to PDF</a>
        </span>
        &nbsp&nbsp&nbsp
        <span style="color: black">Sprint duration : <%=@sprint.created_at.to_s[0..10] %></span> &nbsp
        <span style="color: black"> to <%=@sprint.created_at.to_date+13%> </span>


    </nav>
    <br>
    <div class="container">
        <!-- Renders whatwentwell,whatwentwrong,improvements,actionitem partial -->
        <div class="row">

            <%= render partial: "whatwentwell"%>

            <%= render partial: "whatwentwrong"%>

            <%= render partial: "improvements"%>

            <%= render partial: "completedstory"%>

            <%= render partial: "actionitem"%>

        </div>

    </div>

</body>