<div class="col-sm-3">
    <h4><%= t 'Actions List'%> <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#createaction">✚</button></h4><br>
    <div class="modal fade" id="createaction" tabindex="-1" role="dialog" aria-labelledby="createaction" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createaction"><%= t 'Create Action List'%></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= form_with url: "/createActionitems" do |form| %>
                    <div>
                        <%= form.text_area(:body,{:class => 'form-control'})%>
                    </div>
                    <br>
                    <div>
                        <%= form.submit({:class=> 'btn btn-primary'})%>
                    </div>
                    <%= form.hidden_field :sprint_id, value: @sprint.id%>
                    <%= form.hidden_field :locale, value: lang %>
                    <% end %>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t 'Close'%></button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <%=@improve.each do |w|%>
    <%= w.actionitems.each do |action| %>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <form method="post" action="/dashboards/updatecheckbox/<%=action.id%>" style='display: inline'>
                <%if action.ischeck==true%>
                <div class="form-check">
                    <input class="form-check-input" onChange="this.form.submit()" type="checkbox" id="<%=action.id%>" checked>
                    <label class="form-check-label" for="<%=action.id%>">
                        <%=action.body%>
                    </label>
                    <input type="hidden" id="sprint_id" name="sprint_id" value="<%=@sprint.id%>">
                    <input type="hidden" id="locale" name="locale" value="<%=lang%>">
                </div>
            </form>
            <%else%>
            <form method="post" action="/dashboards/updatecheckbox/<%=action.id%>" style='display: inline'>
                <div class="form-check">
                    <input class="form-check-input" onChange="this.form.submit()" type="checkbox" id="<%=action.id%>">
                    <label class="form-check-label" for="<%=action.id%>">
                        <%=action.body%>
                    </label>
                    <input type="hidden" id="sprint_id" name="sprint_id" value="<%=@sprint.id%>">
                    <input type="hidden" id="locale" name="locale" value="<%=lang%>">
                </div>
            </form>

            <div class="dropdown show">
                <a class="btn btn-info dropdown-toggle btn-sm d-inline" href="#" role="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= t 'Move To'%>
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <% @allsprints.each do |move_sprint| %>
                    <form method="post" id="myForm<%=move_sprint.id%>" action="/dashboards/moveActionItems" style='display: inline'>
                        <input type="hidden" id="moveto" name="moveto" value="<%=move_sprint.id %>">
                        <input type="hidden" id="sprint_id" name="sprint_id" value="<%=@sprint.id%>">
                        <input type="hidden" id="action_id" name="action_id" value="<%=action.id%>">
                        <input type="hidden" id="locale" name="locale" value="<%=lang%>">
                        <%if move_sprint.id!=@sprint.id%>
                        <button class="btn  btn-dark btn-sm dropdown-item" type="submit"><%=move_sprint.name%></button>
                        <%end%>
                    </form>
                    <%end%>
                </div>
            </div>
            <%end%>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ActionItems<%= action.id%>">
                <i class="fa fa-edit"> </i>
            </button>
            <div class="modal" id="ActionItems<%= action.id%>">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title"><%= t'Edit'%></h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body" class="form-outline">
                            <form method="patch" action="/dashboards/updateactionitems/<%=action.id%>">
                                <textarea class="form-control" id="body" name="body"><%= action.body %></textarea>
                                <br />
                                <input type="hidden" id="sprint_id" name="sprint_id" value="<%=@sprint.id%>">
                                <input type="hidden" id="locale" name="locale" value="<%=lang%>">
                                <input class="btn btn-primary btn-sm" type="submit" value="<%= t 'Update Post'%>" />
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t 'Close' %></button>
                        </div>

                    </div>
                </div>
            </div>

            <form method="post" action="/dashboards/destroyactionitems/<%=action.id%>" style='display: inline'>
                <input type="hidden" id="sprint_id" name="sprint_id" value="<%=@sprint.id%>">
                <input type="hidden" id="locale" name="locale" value="<%=lang%>">
                <input class="btn btn-danger btn-sm" type="submit" data-confirm="Are you sure you want to delete?" value="<%= t 'Delete'%>" /><br>
            </form>
        </div>
        <% end %>
        <% end %>
    </div>
</div>