<div class="col-sm-3">
    <h4>What Went Wrong <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#createwrong">✚</button></h4><br>

    <div class="modal fade" id="createwrong" tabindex="-1" role="dialog" aria-labelledby="createwrong" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createwrong">Create WhatWentWrong</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= form_with url: "/createWhatWentWrong" do |form| %>
                    <div>
                        <%= form.text_area(:body,{:class => 'form-control'})%>
                    </div>
                    <br>
                    <div>
                        <%= form.submit({:class=> 'btn btn-primary'})  %>
                    </div>
                    <%= form.hidden_field :sprint_id, value: @sprint.id %>
                    <% end %>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <% @wrong.each do |wrong| %>
    <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <p class="card-text"> <%= wrong.body %><br></p>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#WentWrong<%= wrong.id%>">
                <i class="fa fa-edit"> </i>
            </button>
            <div class="modal" id="WentWrong<%= wrong.id%>">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Edit</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body" class="form-outline">
                            <form method="patch" action="/dashboards/updateWhatWentWrong/<%=wrong.id%>">
                                <textarea class="form-control" id="body" name="body"><%= wrong.body %></textarea>
                                <br />
                                <input type="hidden" id="sprint_id" name="sprint_id" value="<%=@sprint.id%>">
                                <input class="btn btn-primary btn-sm" type="submit" value="Update Post" />
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger " data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
            <form method="post" action="/dashboards/destroyWhatWentWrong/<%=wrong.id%>" style='display: inline'>
                <input type="hidden" id="sprint_id" name="sprint_id" value="<%=@sprint.id%>">
                <input class="btn btn-danger btn-sm" type="submit" data-confirm="Are you sure you want to delete?" value="Delete" />
            </form>
            <form method="post" action="/dashboards/likeWhatWentWrong/<%=wrong.id%>" style='display: inline'>
                <button class="btn  btn-dark btn-sm" type="submit"><i class="fa fa-thumbs-up"></i> <%=wrong.likes%></button>
                <input type="hidden" id="sprint_id" name="sprint_id" value="<%=@sprint.id%>">
            </form>
        </div>
    </div>

    <% end %>

    <br>
    <br>
</div>