 <div class="col-sm" >
        <h2>What Went Well? </h2>  
        <%= form_with url: "/createWhatWentWell" do |form| %>
          <div>
            <%= form.text_area :body%>
          </div>
          <div>
            <%= form.submit %>
          </div>
        <% end %>
        <ul>
          <% @well.each do |well| %>
            <li>
              <%= well.body %><br>
                    <button type="button" id ="<%=well.id%>" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Update
                    </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Please Update</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                               <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Body" value="<%= well.body%>">
                                    </div>
                               </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
                                <form method="patch" action="/dashboards/updateWhatWentWell/<%=well.id%>" style='display: inline'>
                                    <input class="btn btn-primary" id="formGroupExampleInput" type="submit" value="update" />
                                </form>
                            </div>
                            </div>
                        </div>
                        </div>
              <form  method="post" action="/dashboards/destroyWhatWentWell/<%=well.id%>" style='display: inline'>
              <input class="btn btn-danger" type="submit" value="Delete" />
              </form>
            </li>
          <% end %>
        </ul>
        <br>
        <br>
    </div>